html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="#")
        link(rel="stylesheet" href="./css/bootstrap.min.css")
        link(rel="stylesheet" href="./includes/estilos.css")
    
    body
        article

            div(class="container")

                div(style="font-family: monospace;font-size: 1.0em;margin-top: 5px;")
            
                    div Acceso: 
                        strong Super-Administrador Analiticas

                    div(class="divider py-1 bg-secondary")

                    div(style="display: block;margin-top: 7px;color: green;background-color: lightgreen;") 
                        - if (ejecutada=='true')
                            label(style="") SQL Ejecutado Correctamente

                    div(style="display: block;margin-top: 7px;color: red;background-color: pink;") 
                        - if (ejecutada=='false')
                            label(style="") No se ha ejecutado el Script

                p
                    div(style="font-family: monospace;") Ejecutar Script SQL en Taller: 
                        strong(style="color: red;") #{empre.nombre}
 
                form(id="my_form" action="/ejecutar_script_sql" method="post" name="ejecutar")

                    input(name="posicion" type="hidden" value=num_e)
                    
                    div(class="row")
                        div(class="col-xs-12 col-sm-6 col-md-6 col-lg-4")
                            div(class="mb-2")
                                div(class="col-lg-12")
                                    p(class="etiqueta") Seleccione Script a Ejecutar
                                    select(class="form-select" id="script" name="script" required)
                                        option(value='') -- Selecciona Script --
                                        each file in files_script
                                            option(value=file) #{file}
 
                            button(id="submit" class="btn btn-md btn-primary" style="display: none;" onclick="ajax_submit('#my_form', 'temporal');")
                        div(class="col-xs-12 col-sm-6 col-md-6 col-lg-8" style="margin-top: 20px;")
                            button(id="submita" class="btn btn-lg btn-primary" type="submit" style="width: 200px;margin-right: 10px" onclick="$('#submit').click();") Ejecutar Script
                            button(id="cerrar" type="button" class="btn btn-lg btn-secondary" onclick="cancelar();") Cerrar Pantalla
                textarea(class="form-control" id="mensa" style="margin: 10px 0px 10px 0px;height: calc(100vh - 230px);width: 100%;font-size: 1.0em;resize: none;font-family: monospace;" wrap="off" disabled) #{file_content}
        
            div(style="margin-top: 15px;" class="container")
                footer(class="row")
                    div(class="col-md-12")
                        h6(style="font-size: 1.0em") !{copyrigth}

    div(id="errores_visua")
    a(style="display: none" href="/ejecutar_script_sql?ejecutada=true&empre="+num_e id="accion_cancelar")

script(src="./js/jquery.min.js")
script(src="./js/bootstrap.min.js")
script(src="./treu/formato.js")
script(src="./treu/rutinas_cliente.js")
script(src="./treu/treu-widgets.js")
script.

    $('#errores_visua').load("../html/mensajes_error.html");

    function cancelar() {
        document.location = "/contabilidades";
    }